# Python
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
.env
media/
static/

# Django
db.sqlite3
.env
media/
static/ 
# **/migrations/*.py
# !**/migrations/__init__.py
backend/forum_posts/

# React / Node
node_modules/
dist/
build/
.DS_Store

#AI
backend/AI/*
!backend/AI/models
!backend/AI/requirements.txt
backend/models
AI/*
backend/profile_pics/*