Django==6.0
django-cors-headers==4.9.0
django-supabase-storage==1.0.1
djangorestframework==3.17.1
django-storages 
boto3 
whitenoise
dj-database-url==3.1.2
pillow==12.2.0
postgrest==2.31.0
python-dotenv==1.2.2
supabase==2.31.0
supabase-auth==2.31.0
supabase-functions==2.31.0
storage3==2.31.0
opencv-python-headless
numpy
scikit-learn
pandas
requests
gunicorn